.sobreContent {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobreContent .image {
    flex-basis: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 7% 0px;
    margin-left: 5%;
}

.sobreContent .image img {
    width: 55%;
    border-radius: 50%;
}

.sobreContent .sobre {
    flex-basis: 40%;
    margin-right: 10%;
}

.sobreContent .sobre h5 {
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 400;

    margin-bottom: 40px;

    width: 100%;
}

.sobreContent .sobre span {
    display: inline-block;
    font-weight: 700;
    animation: wordChange 4s infinite;
}

.sobreContent .sobre p {
    text-align: justify;
    font-size: 1.1rem;
    font-family: Poppins;
    font-weight: 400;
}

@keyframes wordChange {
    0% {
        transform: rotateX(90deg);
        transform-origin: top left;
    }

    25% {
        transform: rotateX(0deg);
        transform-origin: top left;
    }

    75% {
        transform: rotateX(0deg);
        transform-origin: top left;
    }

    100% {
        transform: rotateX(90deg);
        transform-origin: top left;
    }
}

@media (min-width: 700px) and (max-height: 400px) {
    .sobreContent .image img {
        height: 25vw !important;
        width: auto;
    }
}

@media (max-width: 1100px){
    .sobreContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 20px;
        padding-top: 20px;

    }

    .sobreContent .image {
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .sobreContent .image img {
        height: 30vw !important;
        width: auto;
    }
    
    .sobreContent .sobre {
        width: 70%;
        margin: 0;
        padding: 0;
        margin-top: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobreContent .sobre h5 {
        margin-bottom: 20px;
    }
}

@media (max-width: 1100px){

    .sobreContent .image {
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .sobreContent .image img {
        height: 50vw;
        width: auto;
    }
}