.carrosselContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carrosselContainer > div {
    width: 100%;
}

.carrosselContainer figure {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carrosselContainer figure img {
    width: 100%;
    min-height: 100vh;
}

.carrosselContainer .over-image {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);
    z-index: 10;
}

.carrosselContainer .hr {
    position: absolute;
    top: 90vh;
    width: 100%;
    height: 2px;
    background-color: rgb(250, 250, 250);
    opacity: .5;
    z-index: 11;
}

.carousel-dots {
    position: absolute !important;
    top: 92vh;

    z-index: 11;
}

.carousel-dots li button::before {
    color: rgb(255, 255, 255);
    opacity: .5;
    text-shadow: 1px 1px 3px rgb(8, 2, 2);
}
.carousel-dots li.carousel-dots-active button::before {
    color: white !important;
    opacity: 1;
}