.momentosContainer {
    width: 100%;
    padding: 5% 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #EDEDED;
}

.momentosContainer .titleContent {
    width: 100%;

    display: block;
    text-align: left;

    font-family: Poppins;
}

.momentosContainer .titleContent h2 {
    font-size: 2rem;
}

.momentosContainer .titleContent p {
    font-size: 1.2rem;
}

.momentosContainer .titleContent::after {
    content: "";
    margin-top: 10px;
    display: block;
    width: 3%;
    height: 3px;
    background-color: black;
}

.momentosContainer .momentItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 30px;
    margin-top: 30px;
}

.momentosContainer .momentItemContainer figure {
    width: 80%;
    height: 400px;

    display: grid;

    grid-template: 'content' 1fr / 1fr;
    align-items: flex-start;
    justify-content: center;

    overflow: hidden;

    margin-top: 1px;
    margin-bottom: 1px;

    cursor: pointer;
}

.momentosContainer .momentItemContainer figure img {
    grid-area: content;
    display: block;
    width: 100%;
}

.momentosContainer .momentItemContainer figure span {
    grid-area: content;

    display: block;

    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: rgba(255, 255, 255, 0);
    font-family: Alice;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0);

    transition-duration: 1s;

    background-color: rgba(0, 0, 0, 0);
}

.momentosContainer .momentItemContainer figure span::after {
    content: '';
    
    width: 50px;
    height: 2px;
    margin-top: 10px;
    display: block;

    transition-duration: 1s;

    background-color: rgba(255, 255, 255, 0);
}

.momentosContainer .momentItemContainer figure:hover span {
    background-color: rgba(0, 0, 0, 0.486);
    color: rgba(255, 255, 255, 0.925);
    text-shadow:  2px 2px 5px black;

    transition-duration: 1s;
}

.momentosContainer .momentItemContainer figure:hover span::after {
    transition-duration: 1s;

    background-color: rgba(255, 255, 255, 0.473);
} 

@media (min-width: 700px) and (max-height: 400px) {
    .momentosContent {
        width: 100%;
    }

    .momentosContainer .momentItemContainer figure img{
        width: 100% !important;
        height: auto !important;
    }

}

@media (max-width: 1000px) {
    .momentosContainer .momentItemContainer figure {
        width: 100%;
        height: 200px;
    }

    .momentosContainer .momentItemContainer figure img {
        height: 200px;
    }

    .momentosContainer .momentItemContainer figure span {
        height: 200px;
    }

    .momentosContainer .momentItemContainer figure span {
        background-color: rgba(0, 0, 0, 0.185);
        color: rgba(255, 255, 255, 0.925);
        text-shadow:  2px 2px 5px black;
    }

    .momentosContainer .momentItemContainer figure span::after {
        background-color: rgba(255, 255, 255, 0.473);
    }

    .momentosContainer .titleContent::after {
        width: 60px;
    }
}